{% extends "app/appbase.twig" %}

{% block title %}Umfragen{% endblock %}

{% block content %}
  <div class="wrapper narrow">
    <h1 class="mtop0">Umfragen</h1>
    {% if forms %}
    <ul class="striped">
      {% for form in forms %}
        <a href="/app/forms/{{form.id}}" class="main-text"><li><span>
          {{form.title}} - <small>{{form.dateReadable}}</small>
        </span></li></a>
      {% endfor %}
    </ul>
    {% else %}
    <div class="no-content">
      <i class="material-icons">new_releases</i><br><br>
      Derzeit gibt es keine Umfragen.
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block js %}
{% endblock %}