{% extends "base.twig" %}

{% block title %}Eintragen{% endblock %}

{% block content %}
  <div class="wrapper">
    <section>
      <h1>Arbeitsgruppenbericht anlegen</h1>
      
    </section>
    <div style="height: 64px">&nbsp;</div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}