.card {
    border-radius: 4px;
    box-shadow: $shadow-s;
    background: white;
    padding: 16px 16px 16px 16px;
    > {
      h1, h2, h3, h4 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    &.selectable {
      border: 2px solid transparent;
      cursor: pointer;
      &.selected {
        border: 2px solid $primary-color;
        box-shadow: 0 7px 12px rgba(0,0,0,0.3);
      }
    }
    &.highlight {
      border-left: 5px solid $primary-color;
    }
    &.voted {
      border-right: 50px solid $secondary-color;
      position: relative;
      &::after {
        font-family: 'Material Icons';
        color: white;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: block;
        position: absolute;
        top: 50%;
        right: -36px;
        margin-top: -9px;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: 'liga';
        -webkit-font-smoothing: antialiased;
        content: 'task_alt';
      }
    }
  }
  
  .msgcard {
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    box-shadow: $shadow-xs;
    margin-bottom: 16px;
    color: white;
    &.success {
      background-color: #0b5;
    }
    &.error {
      background-color: #b22;
    }
  }