
.wrapper {
  width: 100%;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
  &.narrow {
    max-width: 600px;
  }
}

.wrapper-2-col {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 16px;
  .grid-col.top {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .grid-col.left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .grid-col {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    .grid-col {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }
}