ul {
    list-style: none;
    padding: 0;
    li {
      .main-text {
        display: block;
        padding-left: 12px;
        color: black;
        flex-grow: 1;
      }
      a.main-text {
        &:hover {
          background-color: rgba(0,0,0,0.1);
        }
        padding-right: 12px;
      }
      .end-btn {
        display: inline-block;
        flex-grow: unset;
        width: 48px;
        text-align: center;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        &.danger {
          color: red;
        }
        &:hover {
          background: rgba(0,0,0,0.1);
        }
      }
      line-height: 48px;
      display: flex;
      flex-direction: row;
      &:nth-child(odd) {
        background-color: rgba(0,0,0,0.05);
      }
      &.endpad {
        padding-right: 12px;
      }
    }
  }

  ul.selectionlist {
    font-weight: bold;
    text-align: center;
    li {
      background-color: white;
      box-shadow: $shadow-s;
      border-radius: 8px;
      margin: 4px;
    }
  }

  .autocomplete-menu {
    z-index: 10;
    position: relative;
    ul {
      position: absolute;
      width: calc(100% - 32px);
      top: -24px;
      left: 16px;
      box-shadow: $shadow-m;
      li {
        padding: 0 16px;
        line-height: 1.5rem;
        cursor: pointer;
        background-color: white;
        &:hover {
          background-color: lightgrey;
        }
      }
    }
  }