#splash {
    background: rgb(229,69,69);
    background: linear-gradient(159deg, rgba(229,69,69,1) 0%, rgba(193,11,29,1) 24%, rgba(61,132,192,1) 90%);
    box-shadow: 0 -50px 50px 50px rgba(0,0,0,0.7);
    color: white;
    font-size: 3rem;
    text-align: center;
    line-height: 150px;
    > p {
      line-height: initial;
      font-size: initial;
      padding-bottom: 35px;
      margin: 0;
    }
  }
  @media (max-width: 440px) {
    #splash {
      font-size: 2rem;
      line-height: 80px;
    }
  }
  
  .login-area {
    margin: 24px auto;
    width: 100%;
    max-width: 480px;
  }

  .pwinput {
    position: relative;
    i {
      position: absolute;
      top: 1px;
      right: 1px;
      cursor: pointer;
      padding: 5px;
      border-radius: 50px;
      color: grey;
      &:hover {
        background: lightgrey;
      }
    }
  }