@keyframes darkener-opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

header#top-bar {
  user-select: none;
  position: sticky;
  z-index: 2000;
  top: 0;
  height: 64px;
  width: 100%;
  background: linear-gradient(-35deg, $accent-color 0%, $menu-color-dark 50%);
  box-shadow: 0 -50px 10px 50px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  #mobile-sidebar-btn {
    position: absolute;
    left: -9999px;
  }
  #mobile-sidebar-btn:checked ~ #sidebar {
    transform: translateX(0);
  }
  @media screen and (max-width: 999px) {
    #mobile-sidebar-btn:checked + label {
      transform: translateX(-40px);
    }
    #mobile-sidebar-btn:checked ~ #darkener {
      display: block;
      animation: darkener-opacity 0.2s;
    }
  }
  #mobile-sidebar-btn + label {
    @media screen and (max-width: 999px) {
      cursor: pointer;
    }
    min-width: 170px;
    flex-grow: 1;
    line-height: 64px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    padding-left: 16px;
    transition: transform 0.2s;
    img {
      height: 65%;
      position: relative;
      top: 6px;
    }
    #sidebar-btn {
      top: 2px !important;
      display: none;
      padding-right: 16px;
      @media screen and (max-width: 999px) {
        display: inline-block;
      }
    }
  }
  .material-icons {
    position: relative;
    top: 5px;
    padding-right: 5px;
  }
}
#darkener {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19,20,24,0.95);
  display: none;
}
#sidebar {
  background-color: $menu-color;
  width: 300px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 0.2s;
  transform: translateX(-300px);
  @media screen and (min-width: 1000px) {
    transform: translateX(0);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding-left: 8px;
      line-height: 64px;
      color: #ddd;
      background: none;
      border-left: 8px solid transparent;
      border-bottom: 1px solid $menu-color-dark;
      .material-icons {
        top: 12px;
        font-size: 2.5em;
        color: #cba;
        height: 0;
      }
      .sidebar-text {
        padding-left: 13px;
      }
      &.noimg {
        line-height: 48px;
        .sidebar-text {
          padding-left: 60px;
        }
      }
      &.selected {
        border-left-color: $accent-color-dark;
        background: rgba(143,17,30,0.15);
        color: lighten($primary-color, 40%);
        font-weight: bold;
        .material-icons {
          color: #ecb;
        }
      }
      &.header {
        line-height: 32px;
        background-color: $menu-color-dark;
        color: #bbb;
      }
      &:not(.header):not(.selected):hover {
        background: rgba(50,50,250,0.08);
        .material-icons {
          color: #abc;
        }
      }
    }
  }
  #sidebar-copyright {
    padding: 24px 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    a {
      color: #444;
    }
  }
}


nav#main-nav {
  flex-shrink: 0;
  a {
    display: inline-block;
    color: white;
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
}
@media (max-width: 400px) {
  .topnav-text {
    display: none;
  }
}

nav#subtabs {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  box-shadow: $shadow-s;
  margin-bottom: 16px;
  justify-content: space-evenly;
  .tab {
    flex-grow: 1;
    padding: 16px 0;
    text-align: center;
    &.active {
      border-bottom: 3px solid $accent-color;
    }
    &:hover {
      background: rgba(0,0,0,0.1);
    }
  }
}
