$primary-color: #296ea7;
$accent-color: #c10b1d;
$accent-color-dark: #8f111e;
$primary-color-dark: #014178;
$menu-color-dark: #1d1d1d;
$menu-color: #292929;

$shadow-xs: 0 0px 1px rgba(0,0,0,0.3);
$shadow-s: 0 1px 2px rgba(0,0,0,0.3);
$shadow-m: 0 2px 5px rgba(0,0,0,0.5);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  accent-color: $accent-color;
}

.small, small {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $primary-color-dark;
  }
}

button, input[type=submit], .btn {
  display: inline-block;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid $primary-color-dark;
  font-size: 1rem;
  padding: 6px 12px;
  background: $primary-color;
  outline: none;
  cursor: pointer;
  color: white;
  &:hover {
    color: white;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
  }
  &:active {
    box-shadow: none;
    background-color: $primary-color-dark;
  }
  &.important {
    background: $accent-color;
    border-bottom-color: $accent-color-dark;
    &:active {
      background-color: $accent-color-dark;
    }
  }
  &.iconbtn {
    line-height: 38px;
    padding: 0 24px;
    display: inline-block;
  }
  &:visited {
    color: white;
  }
}

select {
  height: 32px;
  padding: 0 16px;
  margin: 4px 0;
}

input {
  accent-color: $accent-color;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=search] {
  display: block;
  width: 100%;
  margin: 16px auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 16px;
  outline: none;
  background: white;
  &:focus {
    border-color: $primary-color;
  }
}

input:invalid {
  border: 1px solid red;
}

.inputlabel {
  label {
    font-size: 0.85rem;
    padding: 0;
    margin: 0;
  }
  input {
    margin: 0;
    border-top-left-radius: 0;
  }
}

.inputquestion {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.radiorow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
  .grouper {
    padding: 0 8px;
  }
  label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 8px;
    transform: translate(0, -2px);
  }
  input[type=radio], input[type=checkbox] {
    width: 16px;
    height: 16px;
    &:invalid + label {
      color: red;
    }
  }
}

.fullpagesubmit {
  display: block;
  position: fixed;
  bottom: 0;
  left: 25%;
  @media screen and (min-width: 1000px) {
    left: calc(25% + 150px);
  }
  width: 50%;
  line-height: 64px;
  font-size: 20px;
  padding: 0;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: $primary-color-dark;
  color: white;
  font-weight: bold;
  &:hover {
    font-size: 25px;
    background-color: $primary-color;
  }
}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
  .inputlabel {
    flex-grow: 1;
  }
  button {
    &:hover {
      color: white;
    }
    > i {
      top: 2px;
    }
  }
}


textarea {
  display: block;
  width: 100%;
  height: 350px;
  border: 1px solid #aaa;
  padding: 12px;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 16px;
  border-top-left-radius: 0;
  outline: none;
  resize: vertical;
  &:focus {
    border-color: $primary-color;
  }
  &.short {
    height: 120px;
  }
}

hr {
  border: none;
  height: 2px;
  background-color: grey;
  margin: 16px 0;
}

.mtop0 {
  margin-top: 0;
}

.empty-status {
  font-size: 0.85rem;
  color: grey;
  text-align: center;
  .icon {
    display: block;
    font-size: 80px;
    margin-bottom: 24px;
    color: lightgrey;
  }
}

i.material-icons {
  position: relative;
  top: 6px;
  &.up {
    top: 2px;
  }
}

#error-msg {
  border-radius: 8px;
  background: #ff6633;
  display: block;
  padding: 16px;
  color: white;
  font-weight: 600;
  padding-bottom: 24px;
}

@import "nav";
@import "cards";
@import "login";
@import "lists";
@import "layouts";
@import "researchreport";