$primary-color: #296ea7;
$secondary-color: #2e9f43;
$accent-color: #c10b1d;
$accent-color-dark: #8f111e;
$primary-color-dark: #014178;
$menu-color-dark: #1D1D1D;
$menu-color: #292929;
$warning-color: #f3723a;
$disabled-color: darkgrey;

$shadow-xs: 0 1px 2px rgba(0,0,0,0.3);
$shadow-s: 0 1px 3px rgba(0,0,0,0.4);
$shadow-m: 0 2px 5px rgba(0,0,0,0.5);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  accent-color: $accent-color;
}
h2 {
  font-size: 1.35rem;
}

h3, h4 {
  margin: 0.8rem 0;
}

.small, small {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $primary-color-dark;
  }
  &.block {
    color: inherit;
    display: block;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: inherit;
      > * {
        box-shadow: 0 4px 6px rgba(0,0,0,0.3);
        background-color: lighten($primary-color, 57%);
      }
    }
  }
}

blockquote {
  border-left: 4px solid grey;
  margin: 0 0 1rem 1rem;
  font-style: italic;
  background: #eee;
  padding: 1rem;
  p {
    margin: 0;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: lightgrey;
  margin: 16px 0;
}

.mtop0 {
  margin-top: 0;
}
.mtop8 {
  margin-top: 8px;
}
.mtop16 {
  margin-top: 16px;
}
.mv8 {
  margin: 8px 0;
}
.mb:not(:last-child) {
  margin-bottom: 16px;
}

.empty-status {
  font-size: 0.85rem;
  color: grey;
  text-align: center;
  .icon {
    display: block;
    font-size: 80px;
    margin-bottom: 24px;
    color: lightgrey;
  }
}

i.material-icons {
  position: relative;
  top: 6px;
  &.up {
    top: 2px;
  }
}

#error-msg {
  border-radius: 8px;
  background: $warning-color;
  display: block;
  padding: 16px;
  color: white;
  font-weight: 600;
  text-align: center;
}
.error-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  right: 0;
  padding: 16px;
  bottom: 64px;
  @media (min-width: 1000px) {
    bottom: auto;
    top: 64px;
    width: 500px;
  }
}
.error-container .material-icons {
  float: right;
  top: 0;
}
.error-container #error-msg {
  cursor: pointer;
}

.tag {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid $primary-color;
  padding: 4px 12px;
  color: $primary-color;
  white-space: nowrap;
  margin-bottom: 4px;
  &.small {
    padding: 2px 6px;
    font-size: 0.9rem;
  }
}
a.tag:hover {
  background-color: $primary-color;
  color: white;
}
.material-icons.accent {
  color: darken($accent-color, 20%);
}
.material-icons.primary {
  color: darken($primary-color, 20%);
}

q {
  display: block;
  margin: 8px 0;
  padding: 16px;
  border-left: 8px solid #bbb;
  background-color: #ddd;
  font-family: 'Zilla Slab', serif;
}

.usertext {
  color: #222;
  font-family: 'Zilla Slab', serif;
  line-height: 1.35rem;
}

@import "nav";
@import "cards";
@import "login";
@import "lists";
@import "layouts";
@import "forms";
@import "researchreport";
@import "petitions";
@import "awards";