{% extends "app/appbase.twig" %}

{% block title %}Admin Berichte{% endblock %}

{% block content %}
  <div class="wrapper-2-col">
    <section class="grid-col left">
      <nav id="subtabs">
        <a href="/app/admin/examtypes" class="tab {% if activeAdminTab == "examtypes" %}active {% endif %}">Prüfungsarten</a>
        <a href="/app/admin/examSubjects" class="tab {% if activeAdminTab == "subjects" %}active {% endif %}">Fächer</a>
        <a href="/app/admin/examLocations" class="tab {% if activeAdminTab == "locations" %}active {% endif %}">Orte</a>
        <a href="/app/admin/examiners" class="tab {% if activeAdminTab == "examiners" %}active {% endif %}">Dozenten</a>
      </nav>
      {% block admincontent %}{% endblock %}
    </section>
    <section class="grid-col right">
      <div class="card">
        <h1>Promotionsberichte</h1>
        {% if researchReportsPublic %}
        <p>Die Promotionsberichte sind einsehbar.</p>
        <a href="?setResearch=private" class="btn iconbtn"><i class="material-icons">lock</i> Sperren</a>
        {% else %}
        <p>Die Promotionsberichte sind <strong>nicht</strong> einsehbar.</p>
        <a href="?setResearch=public" class="btn iconbtn"><i class="material-icons">lock_open</i> Freischalten</a>
        {% endif %}
      </div>
    </section>
  </div>
{% endblock %}