{% extends "app/appbase.twig" %}

{% block title %}PaLMe{% endblock %}

{% block content %}
<div class="wrapper">
  <a href="/app/admin/awards/new">neuen Award anlegen</a>
  <ul>
    <li>Create new Award</li>
    <li>list awards & edit</li>
  </ul>
  <ul  class="striped">
    {% for award in awards %}
    <li><a href="/app/admin/awards/{{award.id}}" class="main-text">{{award.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block js %}
{% endblock %}