{% extends "app/admin/adminreportbase.twig" %}

{% block admincontent %}
  <h1>Prüfungsart anlegen</h1>
  <form method="POST">
    <div class="inputlabel">
      <label for="examtypenameinput">Prüfungsname</label>
      <input type="text" required maxlength="50" name="examtypename" id="examtypenameinput" placeholder="Name">
    </div>
    <br><br>
    <input type="submit" value="anlegen">
  </form>
{% endblock %}

{% block js %}
<script type="text/javascript">
  
</script>
{% endblock %}