{% extends "app/appbase.twig" %}

{% block title %}PaLMe{% endblock %}

{% block content %}
<div class="wrapper narrow">
  <h1>PaLMe</h1>
  {% for award in awards %}
  <a href="/app/awards/{{award.id}}" class="block">
    <div class="card mb">
      <h3>{{award.title}}</h3>
      <p>{{award.description}}</p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}

{% block js %}
{% endblock %}