{% extends "app/appbase.twig" %}

{% block title %}PaLMe{% endblock %}

{% block content %}
<div class="wrapper narrow">
  <h1>PaLMe</h1>
  <p>{{awardsDescription}}</p>
  {% for award in awards %}
  <a href="/app/awards/{{award.id}}" class="block mb">
    <div class="card">
      <h3>{{award.title}}</h3>
      <p class="usertext">{{award.description}}</p>
    </div>
  </a>
  {% endfor %}
  {% if awards|length == 0 %}
    <div class="no-content">
      <img src="/assets/desert.png" style="opacity: 0.3;"><br><br>
      Derzeit gibt es keine PaLMen.
    </div>
  {% endif %}
</div>
{% endblock %}

{% block js %}
{% endblock %}