* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  accent-color: #c10b1d;
}

.small, small {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: #296ea7;
}
a:visited {
  color: #296ea7;
}
a:hover {
  color: #014178;
}

button, input[type=submit], .btn {
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #014178;
  font-size: 1rem;
  padding: 6px 12px;
  background: #296ea7;
  outline: none;
  cursor: pointer;
  color: white;
}
button:hover, input[type=submit]:hover, .btn:hover {
  color: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
button:active, input[type=submit]:active, .btn:active {
  box-shadow: none;
  background-color: #014178;
}
button.important, input[type=submit].important, .btn.important {
  background: #c10b1d;
  border-bottom-color: #8f111e;
}
button.important:active, input[type=submit].important:active, .btn.important:active {
  background-color: #8f111e;
}
button.iconbtn, input[type=submit].iconbtn, .btn.iconbtn {
  line-height: 38px;
  padding: 0 24px;
  display: inline-block;
}
button:visited, input[type=submit]:visited, .btn:visited {
  color: white;
}

select {
  height: 32px;
  padding: 0 16px;
  margin: 4px 0;
}

input {
  accent-color: #c10b1d;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=search] {
  display: block;
  width: 100%;
  margin: 16px auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 16px;
  outline: none;
  background: white;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=search]:focus {
  border-color: #296ea7;
}

.inputlabel label {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
}
.inputlabel input {
  margin: 0;
  border-top-left-radius: 0;
}

.inputquestion {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.radiorow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.radiorow .grouper {
  padding: 0 8px;
}
.radiorow label {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
  transform: translate(0, -2px);
}
.radiorow input[type=radio], .radiorow input[type=checkbox] {
  width: 16px;
  height: 16px;
}

.fullpagesubmit {
  display: block;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  line-height: 64px;
  font-size: 20px;
  padding: 0;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #014178;
  color: white;
  font-weight: bold;
}
.fullpagesubmit:hover {
  font-size: 25px;
  background-color: #296ea7;
}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
}
.search-block .inputlabel {
  flex-grow: 1;
}
.search-block button:hover {
  color: white;
}
.search-block button > i {
  top: 2px;
}

textarea {
  display: block;
  width: 100%;
  height: 250px;
  border: 1px solid #aaa;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 16px;
  border-top-left-radius: 0;
  outline: none;
  resize: vertical;
}
textarea:focus {
  border-color: #296ea7;
}
textarea.short {
  height: 120px;
}

hr {
  border: none;
  height: 2px;
  background-color: grey;
  margin: 16px 0;
}

.mtop0 {
  margin-top: 0;
}

.empty-status {
  font-size: 0.85rem;
  color: grey;
  text-align: center;
}
.empty-status .icon {
  display: block;
  font-size: 80px;
  margin-bottom: 24px;
  color: lightgrey;
}

i.material-icons {
  position: relative;
  top: 6px;
}
i.material-icons.up {
  top: 2px;
}

#error-msg {
  border-radius: 8px;
  background: #ff6633;
  display: block;
  padding: 16px;
  color: white;
  font-weight: 600;
  padding-bottom: 24px;
}

header#top-bar {
  height: 64px;
  width: 100%;
  background: linear-gradient(159deg, rgb(229, 69, 69) 0%, rgb(193, 11, 29) 24%, rgb(61, 132, 192) 90%);
  box-shadow: 0 -50px 10px 50px rgba(0, 0, 0, 0.5);
  padding: 0 16px;
  display: flex;
  flex-direction: row;
}
header#top-bar a#home-link {
  flex-grow: 1;
  line-height: 64px;
  font-size: 32px;
  color: white;
  font-weight: bold;
}
header#top-bar .material-icons {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

nav#main-nav {
  display: none;
}

@media (min-width: 699px) {
  nav#main-nav {
    display: initial;
  }
  nav#main-nav a {
    display: inline-block;
    color: white;
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
  }
  nav#main-nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
#mobile-nav-btn {
  position: absolute;
  left: -9999px;
}

#mobile-nav-btn + label {
  display: none;
}

nav#mobile-nav {
  display: none;
}

@media (max-width: 699px) {
  #mobile-nav-btn + label {
    display: block;
    border: 1px solid white;
    border-radius: 4px;
    background: none;
    height: 32px;
    margin-top: 16px;
    outline: none;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
  }
  #mobile-nav-btn + label:active {
    transform: scale(1.05);
  }
  nav#mobile-nav {
    display: none;
    position: absolute;
    z-index: 100;
    top: 64px;
    right: 0px;
    background: white;
    width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  nav#mobile-nav a {
    display: block;
    color: #296ea7;
    padding: 0 16px;
    height: 64px;
    line-height: 64px;
    text-align: center;
  }
  nav#mobile-nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  #mobile-nav-btn:checked ~ #mobile-nav {
    display: block;
  }
  #mobile-nav-btn:checked + label {
    background: white;
    color: #296ea7;
  }
}
nav#subtabs {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  justify-content: space-evenly;
}
nav#subtabs .tab {
  flex-grow: 1;
  padding: 16px 0;
  text-align: center;
}
nav#subtabs .tab.active {
  border-bottom: 3px solid orange;
}
nav#subtabs .tab:hover {
  background: rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: white;
  padding: 16px 16px 16px 16px;
}
.card > h3:first-child {
  margin: 0;
}
.card.selectable {
  border: 2px solid transparent;
  cursor: pointer;
}
.card.selectable.selected {
  border: 2px solid #296ea7;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}

.msgcard {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  color: white;
}
.msgcard.success {
  background-color: #0b5;
}
.msgcard.error {
  background-color: #b22;
}

#splash {
  background: rgb(229, 69, 69);
  background: linear-gradient(159deg, rgb(229, 69, 69) 0%, rgb(193, 11, 29) 24%, rgb(61, 132, 192) 90%);
  box-shadow: 0 -50px 50px 50px rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 150px;
}
#splash > p {
  line-height: initial;
  font-size: initial;
  padding-bottom: 35px;
  margin: 0;
}

@media (max-width: 440px) {
  #splash {
    font-size: 2rem;
    line-height: 80px;
  }
}
.login-area {
  margin: 24px auto;
  width: 100%;
  max-width: 480px;
}

.pwinput {
  position: relative;
}
.pwinput i {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  color: grey;
}
.pwinput i:hover {
  background: lightgrey;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  line-height: 48px;
  display: flex;
  flex-direction: row;
}
ul li .main-text {
  display: block;
  padding-left: 12px;
  color: black;
  flex-grow: 1;
}
ul li .main-text .second-line {
  line-height: 1rem;
  color: #555;
  padding-bottom: 12px;
}
ul li a.main-text {
  padding-right: 12px;
}
ul li a.main-text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
ul li .end-btn {
  display: inline-block;
  flex-grow: unset;
  width: 48px;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
ul li .end-btn.danger {
  color: red;
}
ul li .end-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}
ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
ul li.endpad {
  padding-right: 12px;
}

ul.selectionlist {
  font-weight: bold;
  text-align: center;
}
ul.selectionlist li {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 4px;
}

.autocomplete-menu {
  z-index: 10;
  position: relative;
}
.autocomplete-menu ul {
  position: absolute;
  width: calc(100% - 32px);
  top: -24px;
  left: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.autocomplete-menu ul li {
  padding: 0 16px;
  line-height: 1.5rem;
  cursor: pointer;
  background-color: white;
}
.autocomplete-menu ul li:hover {
  background-color: lightgrey;
}

.wrapper {
  width: 100%;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper-2-col {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 16px;
}
.wrapper-2-col .grid-col.top {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
}
.wrapper-2-col .grid-col.left {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.wrapper-2-col .grid-col {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 1000px) {
  .wrapper-2-col {
    grid-template-columns: 100%;
  }
  .wrapper-2-col .grid-col {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}


/*# sourceMappingURL=style.css.map*/