* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  accent-color: #c10b1d;
}

.small, small {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: #296ea7;
}
a:visited {
  color: #296ea7;
}
a:hover {
  color: #014178;
}

button, input[type=submit], .btn {
  display: inline-block;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #014178;
  font-size: 1rem;
  padding: 6px 12px;
  background: #296ea7;
  outline: none;
  cursor: pointer;
  color: white;
}
button:hover, input[type=submit]:hover, .btn:hover {
  color: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
button:active, input[type=submit]:active, .btn:active {
  box-shadow: none;
  background-color: #014178;
}
button.important, input[type=submit].important, .btn.important {
  background: #c10b1d;
  border-bottom-color: #8f111e;
}
button.important:active, input[type=submit].important:active, .btn.important:active {
  background-color: #8f111e;
}
button.iconbtn, input[type=submit].iconbtn, .btn.iconbtn {
  line-height: 38px;
  padding: 0 24px;
  display: inline-block;
}
button:visited, input[type=submit]:visited, .btn:visited {
  color: white;
}

select {
  height: 32px;
  padding: 0 16px;
  margin: 4px 0;
}

input {
  accent-color: #c10b1d;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=search] {
  display: block;
  width: 100%;
  margin: 16px auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 16px;
  outline: none;
  background: white;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=search]:focus {
  border-color: #296ea7;
}

input:invalid {
  border: 1px solid red;
}

.inputlabel label {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
}
.inputlabel input {
  margin: 0;
  border-top-left-radius: 0;
}

.inputquestion {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.radiorow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.radiorow .grouper {
  padding: 0 8px;
}
.radiorow label {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
  transform: translate(0, -2px);
}
.radiorow input[type=radio], .radiorow input[type=checkbox] {
  width: 16px;
  height: 16px;
}
.radiorow input[type=radio]:invalid + label, .radiorow input[type=checkbox]:invalid + label {
  color: red;
}

.fullpagesubmit {
  display: block;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  line-height: 64px;
  font-size: 20px;
  padding: 0;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #014178;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 1000px) {
  .fullpagesubmit {
    left: calc(25% + 150px);
  }
}
.fullpagesubmit:hover {
  font-size: 25px;
  background-color: #296ea7;
}

.search-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
}
.search-block .inputlabel {
  flex-grow: 1;
}
.search-block button:hover {
  color: white;
}
.search-block button > i {
  top: 2px;
}

textarea {
  display: block;
  width: 100%;
  height: 350px;
  border: 1px solid #aaa;
  padding: 12px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 16px;
  border-top-left-radius: 0;
  outline: none;
  resize: vertical;
}
textarea:focus {
  border-color: #296ea7;
}
textarea.short {
  height: 120px;
}

hr {
  border: none;
  height: 2px;
  background-color: grey;
  margin: 16px 0;
}

.mtop0 {
  margin-top: 0;
}

.empty-status {
  font-size: 0.85rem;
  color: grey;
  text-align: center;
}
.empty-status .icon {
  display: block;
  font-size: 80px;
  margin-bottom: 24px;
  color: lightgrey;
}

i.material-icons {
  position: relative;
  top: 6px;
}
i.material-icons.up {
  top: 2px;
}

#error-msg {
  border-radius: 8px;
  background: #ff6633;
  display: block;
  padding: 16px;
  color: white;
  font-weight: 600;
  padding-bottom: 24px;
}

@keyframes darkener-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header#top-bar {
  user-select: none;
  position: sticky;
  z-index: 1;
  top: 0;
  height: 64px;
  width: 100%;
  background: linear-gradient(-35deg, #c10b1d 0%, #1d1d1d 50%);
  box-shadow: 0 -50px 10px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
header#top-bar #mobile-sidebar-btn {
  position: absolute;
  left: -9999px;
}
header#top-bar #mobile-sidebar-btn:checked ~ #sidebar {
  transform: translateX(0);
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn:checked + label {
    transform: translateX(-40px);
  }
  header#top-bar #mobile-sidebar-btn:checked ~ #darkener {
    display: block;
    animation: darkener-opacity 0.2s;
  }
}
header#top-bar #mobile-sidebar-btn + label {
  flex-grow: 1;
  line-height: 64px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding-left: 16px;
  transition: transform 0.2s;
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn + label {
    cursor: pointer;
  }
}
header#top-bar #mobile-sidebar-btn + label img {
  height: 65%;
  position: relative;
  top: 6px;
}
header#top-bar #mobile-sidebar-btn + label #sidebar-btn {
  top: 2px !important;
  display: none;
  padding-right: 16px;
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn + label #sidebar-btn {
    display: inline-block;
  }
}
header#top-bar .material-icons {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

#darkener {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  display: none;
}

#sidebar {
  background-color: #292929;
  width: 300px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 0.2s;
  transform: translateX(-300px);
}
@media screen and (min-width: 1000px) {
  #sidebar {
    transform: translateX(0);
  }
}
#sidebar ul {
  margin: 0;
}
#sidebar ul li {
  padding-left: 8px;
  line-height: 64px;
  color: #ddd;
  background: none;
  border-left: 8px solid transparent;
  border-bottom: 1px solid #1d1d1d;
}
#sidebar ul li .material-icons {
  top: 12px;
  font-size: 2.5em;
  color: #cba;
  height: 0;
}
#sidebar ul li .sidebar-text {
  padding-left: 13px;
}
#sidebar ul li.noimg {
  line-height: 48px;
}
#sidebar ul li.noimg .sidebar-text {
  padding-left: 60px;
}
#sidebar ul li.selected {
  border-left-color: #8f111e;
  background: rgba(143, 17, 30, 0.15);
  color: #b0d1ec;
  font-weight: bold;
}
#sidebar ul li.selected .material-icons {
  color: #ecb;
}
#sidebar ul li.header {
  line-height: 32px;
  background-color: #1d1d1d;
  color: #bbb;
}
#sidebar ul li:not(.header):not(.selected):hover {
  background: rgba(50, 50, 250, 0.08);
}
#sidebar ul li:not(.header):not(.selected):hover .material-icons {
  color: #abc;
}
#sidebar #sidebar-copyright {
  padding: 24px 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}
#sidebar #sidebar-copyright a {
  color: #444;
}

nav#main-nav a {
  display: inline-block;
  color: white;
  padding: 0 16px;
  height: 64px;
  line-height: 64px;
}
nav#main-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 400px) {
  .topnav-text {
    display: none;
  }
}
nav#subtabs {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  justify-content: space-evenly;
}
nav#subtabs .tab {
  flex-grow: 1;
  padding: 16px 0;
  text-align: center;
}
nav#subtabs .tab.active {
  border-bottom: 3px solid #c10b1d;
}
nav#subtabs .tab:hover {
  background: rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  background: white;
  padding: 16px 16px 16px 16px;
}
.card > h3:first-child {
  margin: 0;
}
.card.selectable {
  border: 2px solid transparent;
  cursor: pointer;
}
.card.selectable.selected {
  border: 2px solid #296ea7;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}

.msgcard {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  color: white;
}
.msgcard.success {
  background-color: #0b5;
}
.msgcard.error {
  background-color: #b22;
}

#splash {
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 150px;
}
#splash > p {
  line-height: initial;
  font-size: initial;
  padding-bottom: 35px;
  margin: 0;
}

@media (max-width: 440px) {
  #splash {
    font-size: 2rem;
    line-height: 80px;
  }
}
.pwinput {
  position: relative;
}
.pwinput i {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  color: grey;
}
.pwinput i:hover {
  background: lightgrey;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  line-height: 48px;
  display: flex;
  flex-direction: row;
}
ul li .main-text {
  display: block;
  padding-left: 12px;
  color: black;
  flex-grow: 1;
}
ul li .main-text .second-line {
  line-height: 1rem;
  color: #555;
  padding-bottom: 12px;
}
ul li a.main-text {
  padding-right: 12px;
}
ul li a.main-text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
ul li .end-btn {
  display: inline-block;
  flex-grow: unset;
  width: 48px;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
ul li .end-btn.danger {
  color: red;
}
ul li .end-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}
ul li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
ul li.endpad {
  padding-right: 12px;
}

ul.selectionlist {
  font-weight: bold;
  text-align: center;
}
ul.selectionlist li {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin: 4px;
}

.autocomplete-menu {
  z-index: 10;
  position: relative;
}
.autocomplete-menu ul {
  position: absolute;
  width: calc(100% - 32px);
  top: -24px;
  left: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.autocomplete-menu ul li {
  padding: 0 16px;
  line-height: 1.5rem;
  cursor: pointer;
  background-color: white;
}
.autocomplete-menu ul li:hover {
  background-color: lightgrey;
}

#appcontainer {
  display: flex;
  flex-direction: row;
}
#appcontainer #sidebarspacer {
  display: none;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}
@media screen and (min-width: 1000px) {
  #appcontainer #sidebarspacer {
    display: block;
  }
}
#appcontainer #appcontent {
  flex-grow: 1;
}

.wrapper {
  width: 100%;
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}
.wrapper.narrow {
  max-width: 600px;
}

.wrapper-2-col {
  width: 100%;
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 16px;
}
.wrapper-2-col .grid-col.top {
  grid-column: 1/span 2;
  grid-row: 1/span 1;
}
.wrapper-2-col .grid-col.left {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.wrapper-2-col .grid-col {
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}
@media (max-width: 1000px) {
  .wrapper-2-col {
    grid-template-columns: 100%;
  }
  .wrapper-2-col .grid-col {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}

.c3-1 {
  background-color: #FF2C14;
  color: white;
}

.c3-2 {
  background-color: #FFB71C;
  color: black;
}

.c3-3 {
  background-color: #3c9015;
  color: white;
}

.c4-1 {
  background-color: #FF2C14;
  color: white;
}

.c4-2 {
  background-color: #F26907;
  color: black;
}

.c4-3 {
  background-color: #FFE608;
  color: black;
}

.c4-4 {
  background-color: #3c9015;
  color: white;
}

.checkchip {
  padding: 8px;
  padding-top: 0;
  display: inline-block;
  color: white;
  border-radius: 8px;
  margin-bottom: 4px;
}
.checkchip.yes {
  background-color: #3c9015;
}
.checkchip.no {
  background-color: #FF2C14;
}

.questionbox {
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}
.questionbox .question {
  padding: 4px;
  padding-bottom: 0px;
  text-align: center;
}
.questionbox .answer {
  padding: 4px;
  text-align: center;
  font-weight: bold;
}


/*# sourceMappingURL=style.css.map*/