* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  accent-color: #c10b1d;
}

h2 {
  font-size: 1.35rem;
}

h3, h4 {
  margin: 0.8rem 0;
}

.small, small {
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: #296ea7;
}
a:visited {
  color: #296ea7;
}
a:hover {
  color: #014178;
}
a.block {
  color: inherit;
  display: block;
}
a.block:visited {
  color: inherit;
}
a.block:hover {
  color: inherit;
}
a.block:hover > * {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #f6fafd;
}

blockquote {
  border-left: 4px solid grey;
  margin: 0 0 1rem 1rem;
  font-style: italic;
  background: #eee;
  padding: 1rem;
}
blockquote p {
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgrey;
  margin: 16px 0;
}

.mtop0 {
  margin-top: 0;
}

.mtop8 {
  margin-top: 8px;
}

.mtop16 {
  margin-top: 16px;
}

.mv8 {
  margin: 8px 0;
}

.mb:not(:last-child) {
  margin-bottom: 16px;
}

.empty-status {
  font-size: 0.85rem;
  color: grey;
  text-align: center;
}
.empty-status .icon {
  display: block;
  font-size: 80px;
  margin-bottom: 24px;
  color: lightgrey;
}

i.material-icons {
  position: relative;
  top: 6px;
}
i.material-icons.up {
  top: 2px;
}

#error-msg {
  border-radius: 8px;
  background: #f3723a;
  display: block;
  padding: 16px;
  color: white;
  font-weight: 600;
  text-align: center;
}

.error-container {
  position: fixed;
  z-index: 1000;
  width: 100%;
  right: 0;
  padding: 16px;
  bottom: 64px;
}
@media (min-width: 1000px) {
  .error-container {
    bottom: auto;
    top: 64px;
    width: 500px;
  }
}

.error-container .material-icons {
  float: right;
  top: 0;
}

.error-container #error-msg {
  cursor: pointer;
}

.tag {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #296ea7;
  padding: 4px 12px;
  color: #296ea7;
  white-space: nowrap;
  margin-bottom: 4px;
}
.tag.small {
  padding: 2px 6px;
  font-size: 0.9rem;
}

a.tag:hover {
  background-color: #296ea7;
  color: white;
}

.material-icons.accent {
  color: #61060f;
}

.material-icons.primary {
  color: #153855;
}

q {
  display: block;
  margin: 8px 0;
  padding: 16px;
  border-left: 8px solid #bbb;
  background-color: #ddd;
  font-family: "Zilla Slab", serif;
}

.usertext {
  color: #222;
  font-family: "Zilla Slab", serif;
  line-height: 1.35rem;
}

@keyframes darkener-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header#top-bar {
  user-select: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  height: 64px;
  width: 100%;
  background: linear-gradient(-35deg, #c10b1d 0%, #1D1D30 55%, #1D1D1D 100%);
  box-shadow: 0 -19px 5px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
}
header#top-bar #mobile-sidebar-btn {
  position: absolute;
  left: -9999px;
}
header#top-bar #mobile-sidebar-btn:checked ~ #sidebar {
  transform: translateX(0);
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn:checked + label {
    transform: translateX(-40px);
  }
  header#top-bar #mobile-sidebar-btn:checked ~ #darkener {
    display: block;
    animation: darkener-opacity 0.2s;
  }
}
header#top-bar #mobile-sidebar-btn + label {
  min-width: 170px;
  flex-grow: 1;
  line-height: 64px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  padding-left: 16px;
  transition: transform 0.2s;
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn + label {
    cursor: pointer;
  }
}
header#top-bar #mobile-sidebar-btn + label img {
  height: 65%;
  position: relative;
  top: 6px;
}
header#top-bar #mobile-sidebar-btn + label #sidebar-btn {
  top: 2px !important;
  display: none;
  padding-right: 16px;
}
@media screen and (max-width: 999px) {
  header#top-bar #mobile-sidebar-btn + label #sidebar-btn {
    display: inline-block;
  }
}
header#top-bar .material-icons {
  position: relative;
  top: 5px;
  padding-right: 5px;
}

#darkener {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(19, 20, 24, 0.95);
  display: none;
}

#sidebar {
  background-color: #292929;
  width: 280px;
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 0.2s;
  transform: translateX(-280px);
}
@media screen and (min-width: 1000px) {
  #sidebar {
    transform: translateX(0);
  }
}
#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sidebar ul li {
  padding-left: 8px;
  line-height: 54px;
  color: #ddd;
  background: none;
  border-left: 8px solid transparent;
  border-bottom: 1px solid #1D1D1D;
}
#sidebar ul li .material-icons {
  top: 10px;
  font-size: 1.9em;
  color: #cba;
  height: 0;
}
#sidebar ul li .sidebar-text {
  padding-left: 13px;
}
#sidebar ul li.noimg {
  line-height: 40px;
  font-size: 1rem;
}
#sidebar ul li.noimg .sidebar-text {
  padding-left: 52px;
}
#sidebar ul li.selected {
  border-left-color: #8f111e;
  background: rgba(143, 17, 30, 0.15);
  color: #b0d1ec;
  font-weight: bold;
}
#sidebar ul li.selected .material-icons {
  color: #ecb;
}
#sidebar ul li.header {
  line-height: 32px;
  background-color: #1D1D1D;
  color: #bbb;
}
#sidebar ul li:not(.header):not(.selected):hover {
  background: rgba(50, 50, 250, 0.08);
}
#sidebar ul li:not(.header):not(.selected):hover .material-icons {
  color: #abc;
}
#sidebar #sidebar-copyright {
  padding: 16px 0;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
}
#sidebar #sidebar-copyright a {
  color: #444;
}

nav#main-nav {
  flex-shrink: 0;
}
nav#main-nav a {
  display: inline-block;
  color: white;
  padding: 0 16px;
  height: 64px;
  line-height: 64px;
}
nav#main-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 400px) {
  .topnav-text {
    display: none;
  }
}
nav#subtabs {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
  justify-content: space-evenly;
}
nav#subtabs .tab {
  flex-grow: 1;
  padding: 16px 0;
  text-align: center;
}
nav#subtabs .tab.active {
  border-bottom: 3px solid #c10b1d;
}
nav#subtabs .tab:hover {
  background: rgba(0, 0, 0, 0.1);
}

.card {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background: white;
  padding: 16px 16px 16px 16px;
}
.card > h1:first-child, .card > h2:first-child, .card > h3:first-child, .card > h4:first-child {
  margin-top: 0;
}
.card.selectable {
  border: 2px solid transparent;
  cursor: pointer;
}
.card.selectable.selected {
  border: 2px solid #296ea7;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.3);
}
.card.highlight {
  border-left: 5px solid #296ea7;
}
.card.voted {
  border-right: 50px solid #2e9f43;
  position: relative;
}
.card.voted::after {
  font-family: "Material Icons";
  color: white;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: block;
  position: absolute;
  top: 50%;
  right: -36px;
  margin-top: -9px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  content: "task_alt";
}

.msgcard {
  width: 100%;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
  color: white;
}
.msgcard.success {
  background-color: #0b5;
}
.msgcard.error {
  background-color: #b22;
}

#splash {
  color: white;
  font-size: 3rem;
  text-align: center;
  line-height: 150px;
}
#splash > p {
  line-height: initial;
  font-size: initial;
  padding-bottom: 35px;
  margin: 0;
}

@media (max-width: 440px) {
  #splash {
    font-size: 2rem;
    line-height: 80px;
  }
}
.pwinput {
  position: relative;
}
.pwinput i {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50px;
  color: grey;
}
.pwinput i:hover {
  background: lightgrey;
}

ul.striped {
  list-style: none;
  padding: 0;
}
ul.striped li {
  line-height: 48px;
  display: flex;
  flex-direction: row;
}
ul.striped li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
ul.striped li.endpad {
  padding-right: 12px;
}

ul .main-text {
  display: block;
  padding-left: 12px;
  color: black;
  flex-grow: 1;
}
ul .main-text .second-line {
  line-height: 1rem;
  color: #555;
  padding-bottom: 12px;
}

a.main-text {
  padding-right: 12px;
}
a.main-text:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.end-btn {
  display: inline-block;
  flex-grow: unset;
  width: 48px;
  text-align: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.end-btn.danger {
  color: red;
}
.end-btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

ul.selectionlist {
  font-weight: bold;
  text-align: center;
  list-style: none;
  padding: 0;
}
ul.selectionlist li {
  line-height: 48px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 4px;
}

.autocomplete-menu {
  z-index: 10;
  position: relative;
}
.autocomplete-menu ul {
  list-style: none;
  padding: 0;
  position: absolute;
  width: calc(100% - 32px);
  top: -24px;
  left: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.autocomplete-menu ul li {
  padding: 0 16px;
  line-height: 1.5rem;
  cursor: pointer;
  background-color: white;
}
.autocomplete-menu ul li:hover {
  background-color: lightgrey;
}

#appcontainer {
  padding-left: 0;
  padding-top: 64px;
}
@media screen and (min-width: 1000px) {
  #appcontainer.loggedin {
    padding-left: 280px;
  }
}

.wrapper {
  width: 100%;
  padding: 16px;
  max-width: 1100px;
  margin: 0 auto;
}
.wrapper.narrow {
  max-width: 700px;
}

.wrapper-2-col {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 16px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 16px;
}
.wrapper-2-col .grid-col {
  min-width: 0;
}
.wrapper-2-col .grid-col.left {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.wrapper-2-col .grid-col.right {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
@media (max-width: 1450px) {
  .wrapper-2-col {
    grid-template-columns: 5fr 3fr;
  }
}
@media (max-width: 1150px) {
  .wrapper-2-col {
    grid-template-columns: 100%;
  }
  .wrapper-2-col.right-over .grid-col.right {
    grid-row: 1/span 1;
  }
  .wrapper-2-col.right-over .grid-col.left {
    grid-row: 2/span 1;
  }
  .wrapper-2-col .grid-col.right {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
}

.title-2-col {
  padding-bottom: 0;
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 16px;
}
.title-2-col h1 {
  margin: 0;
}
.title-2-col + .wrapper-2-col {
  padding-top: 0;
}

.resultsgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}
.resultsgrid.morecols {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1600px) {
  .resultsgrid.morecols {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1300px) {
  .resultsgrid.morecols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 999px) {
  .resultsgrid.morecols {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .resultsgrid.morecols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .resultsgrid.morecols {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1600px) {
  .resultsgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 999px) {
  .resultsgrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .resultsgrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .resultsgrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.resultsgrid > a {
  align-self: stretch;
}
.resultsgrid .card {
  height: 100%;
  color: black;
}
.resultsgrid .card:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #f2f7fc;
}

.no-content {
  text-align: center;
  color: grey;
}
.no-content .material-icons {
  color: lightgrey;
  font-size: 8rem;
}

.resultsgrid.home .card {
  background-position: center;
  background-size: cover;
}
.resultsgrid.home .card:hover {
  background: #f2f7fc !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 11000;
}
.modal.visible {
  display: block;
}
.modal .modalwrapper {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
}
@media (min-width: 700px) {
  .modal .modalwrapper {
    top: 128px;
    left: 64px;
    right: 64px;
    bottom: 64px;
  }
}
@media (min-width: 1000px) {
  .modal .modalwrapper {
    top: 128px;
    left: 364px;
    right: 64px;
    bottom: 64px;
  }
}
.modal .modalwrapper .modalcontent {
  padding: 16px;
  background: white;
  border-radius: 4px;
  max-width: 500px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.modal .modalwrapper .modalcontent h2:first-child {
  margin-top: 0;
  text-align: center;
}
.modal .modalwrapper .modalcontent .modalbtns {
  display: flex;
  margin-top: 8px;
  border-top: 1px solid lightgrey;
  padding-top: 16px;
}

.pickerModal .page.page2 {
  display: none;
}
.pickerModal.onPage2 .page.page1 {
  display: none;
}
.pickerModal.onPage2 .page.page2 {
  display: flex;
}
.pickerModal .page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pickerModal .listcontainer {
  flex-grow: 1;
  overflow: auto;
}
.pickerModal .listcontainer li {
  cursor: pointer;
}
.pickerModal .notFoundLink {
  display: none;
}
.pickerModal .notFoundLink.visible {
  display: inline-block;
}
.pickerModal .confirmNewBtn {
  display: none;
}
.pickerModal .confirmNewBtn.visible {
  display: inline-block;
}

.splide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.image-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-items: center;
  align-items: center;
}
.image-list img {
  max-width: 100%;
  max-height: 150px;
}

@media (max-width: 1150px) and (pointer: coarse) {
  #candidatesList {
    width: 80%;
  }
}

#bottom-copyright {
  padding: 16px;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}
#bottom-copyright a {
  color: #bbb;
}

.flex-lr-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.inline {
  display: inline-block;
}

button, input[type=submit], .btn {
  display: inline-block;
  border-radius: 6px;
  border: none;
  border-bottom: 3px solid #014178;
  font-size: 1rem;
  font-weight: normal;
  padding: 6px 12px;
  background: #296ea7;
  outline: none;
  cursor: pointer;
  color: white;
}
button:focus, input[type=submit]:focus, .btn:focus {
  outline: 1px solid rgba(0, 0, 0, 0.5);
  outline-offset: 2px;
}
button.small, input[type=submit].small, .btn.small {
  font-size: 0.85rem;
  padding: 5px 10px;
  border-radius: 4px;
  border-bottom-width: 2px;
}
button.small.iconbtn, input[type=submit].small.iconbtn, .btn.small.iconbtn {
  padding: 2px 4px;
  line-height: 1.3em;
}
button.small.iconbtn .material-icons, input[type=submit].small.iconbtn .material-icons, .btn.small.iconbtn .material-icons {
  font-size: 1rem;
  top: 2px;
}
button:hover, input[type=submit]:hover, .btn:hover {
  color: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5);
}
button:active, input[type=submit]:active, .btn:active {
  box-shadow: none;
  background-color: #014178;
}
button.important, input[type=submit].important, .btn.important {
  background: #c10b1d;
  border-bottom-color: #8f111e;
}
button.important:active, input[type=submit].important:active, .btn.important:active {
  background-color: #8f111e;
}
button.secondary, input[type=submit].secondary, .btn.secondary {
  background: #999;
  border-bottom-color: #777;
}
button.secondary:active, input[type=submit].secondary:active, .btn.secondary:active {
  background-color: #777;
}
button.iconbtn, input[type=submit].iconbtn, .btn.iconbtn {
  line-height: 38px;
  padding: 0 24px;
  display: inline-block;
}
button:visited, input[type=submit]:visited, .btn:visited {
  color: white;
}
button.pushup, input[type=submit].pushup, .btn.pushup {
  transform: translateY(-4px);
}

form:invalid button[type=submit], form:invalid input[type=submit] {
  cursor: not-allowed;
  background-color: darkgrey;
  border-color: transparent;
}
form:invalid button[type=submit]:hover, form:invalid input[type=submit]:hover {
  box-shadow: none;
}

select {
  height: 32px;
  padding: 0 16px;
  margin: 4px 0;
}

input {
  accent-color: #c10b1d;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], input[type=search] {
  display: block;
  width: 100%;
  margin: 16px auto;
  padding: 8px 16px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #bbb;
  border-radius: 8px 8px 0 0;
  outline: none;
  background: white;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=search]:focus {
  border-color: #296ea7;
  box-shadow: none;
}

input:invalid {
  border-bottom: 2px solid #f3723a;
}

.inputlabel label {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
}
.inputlabel label.error {
  color: #f3723a;
}
.inputlabel input {
  margin: 0;
}

.inputquestion {
  font-size: 0.85rem;
  margin-bottom: 4px;
}

.radiorow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.radiorow .grouper {
  padding: 0 8px;
}
.radiorow label {
  display: inline-block;
  font-size: 16px;
  margin-bottom: 8px;
  transform: translate(0, -2px);
}

input[type=radio].lbl, input[type=checkbox].lbl {
  display: none;
}
input[type=radio].lbl + label, input[type=checkbox].lbl + label {
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 8px;
  border: 1px solid grey;
  color: #666;
}
input[type=radio].lbl + label:hover, input[type=checkbox].lbl + label:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
input[type=radio].lbl + label.check::before, input[type=checkbox].lbl + label.check::before {
  font-family: "Material Icons";
  content: "\e15b";
  position: relative;
  top: 3px;
  left: -3px;
  color: rgba(0, 0, 0, 0.3);
}
input[type=radio].lbl:checked + label, input[type=checkbox].lbl:checked + label {
  background-color: #c10b1d;
  color: white;
}
input[type=radio].lbl:checked + label.check::before, input[type=checkbox].lbl:checked + label.check::before {
  color: white;
  content: "\e5ca";
}
input[type=radio].lbl:invalid + label, input[type=checkbox].lbl:invalid + label {
  color: #f3723a;
}

input[type=range] {
  width: 100%;
}

.fullpagesubmit {
  display: block;
  position: fixed;
  z-index: 1200;
  bottom: 0;
  left: 25%;
  width: 50%;
  line-height: 64px;
  font-size: 20px;
  padding: 0;
  border-radius: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #014178;
  color: white;
  font-weight: bold;
}
@media screen and (min-width: 1000px) {
  .fullpagesubmit {
    left: calc(25% + 150px);
  }
}
.fullpagesubmit:hover:not(:disabled) {
  font-size: 25px;
  background-color: #296ea7;
}
.fullpagesubmit:disabled {
  cursor: not-allowed;
  background-color: darkgrey;
}

form:invalid .fullpagesubmit {
  cursor: not-allowed;
}
form:invalid .fullpagesubmit:hover {
  font-size: 20px;
  background-color: darkgrey;
}

.input-btn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 16px;
}
.input-btn-block .inputlabel {
  flex-grow: 1;
}
.input-btn-block button:hover {
  color: white;
}
.input-btn-block button > i {
  top: 2px;
}

textarea {
  display: block;
  width: 100%;
  height: 350px;
  border: 2px solid #bbb;
  padding: 12px;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
  resize: vertical;
}
textarea:focus {
  border-color: #296ea7;
  box-shadow: none;
}
textarea.short {
  height: 120px;
}
textarea:invalid {
  border-color: #f3723a;
}

.inp-cb-tag + label {
  font-size: 0.9rem;
}

.EasyMDEContainer {
  color: #333;
  font-family: "Zilla Slab", serif;
}
.EasyMDEContainer .CodeMirror-fullscreen {
  z-index: 10000;
}
.EasyMDEContainer img {
  max-width: 100%;
  max-height: 500px;
}
.EasyMDEContainer button {
  color: black;
}
.EasyMDEContainer button:hover {
  color: black;
}

.editor-toolbar.fullscreen {
  z-index: 10000;
}

.editor-preview-side {
  z-index: 10000;
}

.c3-1 {
  background-color: #FF2C14;
  color: white;
}

.c3-2 {
  background-color: #FFB71C;
  color: black;
}

.c3-3 {
  background-color: #3c9015;
  color: white;
}

.c4-1 {
  background-color: #FF2C14;
  color: white;
}

.c4-2 {
  background-color: #F26907;
  color: black;
}

.c4-3 {
  background-color: #FFE608;
  color: black;
}

.c4-4 {
  background-color: #3c9015;
  color: white;
}

.checkchip {
  padding: 8px;
  padding-top: 0;
  display: inline-block;
  color: white;
  border-radius: 8px;
  margin-bottom: 4px;
}
.checkchip.yes {
  background-color: #3c9015;
}
.checkchip.no {
  background-color: #FF2C14;
}

.questionbox {
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
}
.questionbox .question {
  padding: 4px;
  padding-bottom: 0px;
  text-align: center;
}
.questionbox .answer {
  padding: 4px;
  text-align: center;
  font-weight: bold;
}

.supportersdisplay {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.supportersdisplay .supportbar {
  flex-grow: 1;
  background-color: #ddd;
  border-radius: 20px;
  margin: 0 8px;
  position: relative;
  overflow: hidden;
}
.supportersdisplay .supportbar .indicator {
  background-color: #c10b1d;
  height: 100%;
}
.supportersdisplay .supportbar .percentage {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.petitionlayout {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 16px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 5fr 3fr;
  align-items: start;
  gap: 16px;
}
.petitionlayout .titlearea {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
}
.petitionlayout .dataarea {
  grid-column: 2/span 1;
  grid-row: 1/span 3;
}
.petitionlayout .maintextarea {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}
.petitionlayout .commentsarea {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
}
@media (max-width: 1180px) {
  .petitionlayout {
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
  }
  .petitionlayout .dataarea {
    grid-column: 1/span 1;
    grid-row: 2/span 1;
  }
  .petitionlayout .maintextarea {
    grid-row: 3/span 1;
  }
  .petitionlayout .commentsarea {
    grid-row: 4/span 1;
  }
}

.petitionprogress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(90deg, #87b9e2 10%, lightgrey 10.1%);
  border-radius: 24px;
  padding: 0 16px;
  overflow: hidden;
}
.petitionprogress .progressStep {
  width: 48px;
  line-height: 48px;
  color: grey;
}
.petitionprogress .progressStep .material-icons {
  font-size: 2rem;
  top: 9px;
}
.petitionprogress .progressText {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 48px;
  font-size: 2rem;
  color: #c5ddf1;
  font-weight: bold;
  opacity: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(73, 87, 103, 0.75);
  transition: opacity 0.2s;
}
.petitionprogress .progressText:hover {
  opacity: 1;
}
.petitionprogress .progressStep:nth-child(1) {
  color: #61060f;
}
.petitionprogress.progress1 {
  background: linear-gradient(90deg, #87b9e2 40%, lightgrey 40.1%);
}
.petitionprogress.progress1 .progressStep:nth-child(2) {
  color: #61060f;
}
.petitionprogress.progress2 {
  background: linear-gradient(90deg, #87b9e2 70%, lightgrey 70.1%);
}
.petitionprogress.progress2 .progressStep:nth-child(2) {
  color: #61060f;
}
.petitionprogress.progress2 .progressStep:nth-child(3) {
  color: #61060f;
}
.petitionprogress.progress3 {
  background: #87b9e2;
}
.petitionprogress.progress3 .progressStep:nth-child(2) {
  color: #61060f;
}
.petitionprogress.progress3 .progressStep:nth-child(3) {
  color: #61060f;
}
.petitionprogress.progress3 .progressStep:nth-child(4) {
  color: #61060f;
}

.award-vote-chart .ct-label {
  color: black;
}
.award-vote-chart .ct-bar {
  stroke-width: 30px;
  stroke: #c10b1d;
  opacity: 0.3;
}
.award-vote-chart .ct-bar.winner {
  stroke: #2e9f43;
  opacity: 1;
}

@media (min-width: 1600px) {
  .wide.award-vote-chart .ct-label {
    font-size: 0.9rem;
  }
  .wide.award-vote-chart .ct-bar {
    stroke-width: 40px;
  }
}


/*# sourceMappingURL=style8.css.map*/