{% extends "app/appbase.twig" %}

{% block title %}PaLMe{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<style>
.EasyMDEContainer {
  color: #333;
  font-family: 'Zilla Slab', serif;
}
.EasyMDEContainer .CodeMirror-fullscreen {
  z-index: 12;
}
.EasyMDEContainer img {
  max-width: 100%;
  max-height: 500px;
}
.EasyMDEContainer button {
  color: black;
}
.EasyMDEContainer button:hover {
  color: black;
}
</style>
{% endblock %}

{% block content %}
<div class="wrapper">
  <section>
    <h1>neue PaLMe anlegen</h1>
    <form method="post">
    <div class="card mb">
      <div class="inputlabel">
        <label>Titel</label>
        <input type="text" name="title" required placeholder="Wahl zum besten Holzwurmdompteur">
      </div><br>
      <div class="inputlabel">
        <label>Abstimmung möglich bis:</label>
        <input type="date" name="deadline" required value="{{deadlineDate}}" min="{{currentDate}}">
      </div><br>
    </div>
    <div class="card">
      <div class="inputlabel">
        <label>Kurzbeschreibung (20-250 Zeichen)</label>
        <textarea name="shortText" class="short usertext" required maxlength="255" minlength="20" placeholder="Das steht dann auf der Übersicht."></textarea>
      </div>
    </div>
    <div style="height: 64px">&nbsp;</div>
    <button type="submit" class="fullpagesubmit">speichern</button>
    </form>
  </section>
</div>
{% endblock %}