<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/favicons/favicon-192.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/favicons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/favicon-144.png">
  <meta name="theme-color" content="#ff0000">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FSmed Lehre: {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  {% block body %}{% endblock %}
  {% block js %}{% endblock %}
</body>
</html>