<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/favicons/favicon-192.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/favicons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/favicon-144.png">
  <meta name="theme-color" content="#ff0000">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FS-Berichte: {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  {% if isLoggedIn %}
    <header id="top-bar">
      <a href="/app/main" id="home-link">FS-Berichte</a>
      <nav id="main-nav">
        {% if user.isAdmin %}<a href="/app/admin/users"><i class="material-icons">admin_panel_settings</i>Admin</a>{% endif %}
        <a href="/app/newreport"><i class="material-icons">add_circle</i>eintragen</a>
        <a href="/app/profile"><i class="material-icons">account_box</i>Profil</a>
        <a href="/app/logout"><i class="material-icons">lock</i>log out</a>
      </nav>
      <input type="checkbox" id="mobile-nav-btn">
      <label for="mobile-nav-btn">Menü</label>
      <nav id="mobile-nav">
        {% if user.isAdmin %}<a href="/app/admin/users"><i class="material-icons">admin_panel_settings</i>Admin</a>{% endif %}
        <a href="/app/newreport"><i class="material-icons">add_circle</i>eintragen</a>
        <a href="/app/profile"><i class="material-icons">account_box</i>Profil</a>
        <a href="/app/logout"><i class="material-icons">lock</i>log out</a>
      </nav>
    </header>
  {% endif %}
  {% block content %}{% endblock %}
  {% block js %}{% endblock %}
</body>
</html>