<!DOCTYPE html>
<html lang="de">
<head>
  <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/assets/favicons/favicon-192.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
	<link rel="apple-touch-icon" href="/assets/favicons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/favicon-144.png">
  <meta name="theme-color" content="#ff0000">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
  <!--[if IE]><link rel="shortcut icon" href="/assets/favicons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="/assets/manifest.json">
  <meta name="theme-color" content="#c10b1d">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="flipcards">
  <link rel="apple-touch-icon" href="/assets/favicons/favicon-152.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="/assets/favicons/favicon-144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <title>FSmed Lehre: {% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  {% block body %}{% endblock %}
  {% block js %}{% endblock %}
</body>
</html>