{% extends "base.twig" %}

{% block title %}Registrierung{% endblock %}

{% block body %}
  <section id="splash">
    FSmed Berichte
  </section>
  <div style="padding: 16px;">
    <section class="login-area card">
      <h3>Autorisierung erforderlich</h3>
      Bitte erkläre uns kurz, weshalb du Zugriff benötigst.
      <form action="nonauthmail" method="post">
        <input type="hidden" name="password" value="{{password}}">
        <input type="email" name="email" value="{{email}}">
        <textarea name="reason" placeholder="warum möchtest du Zugriff?">

        </textarea>
        <button type="submit">Zugriff anfragen</button>
      </form>
    </section>
    
    <section class="login-area" style="text-align: center">
      &copy; Leander Berg, 2023. Licensed under <a href="/assets/LICENSE.txt" target="_blank">MIT License</a>.<br>
      Code at <a href="https://github.com/lulebe/fs-berichte">GitHub</a>
    </section>
  </div>
{% endblock %}